﻿<!-- not use skin... -->
<!-- Logo --> 
<div class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <!-- <span class="logo-mini">TMS</span> -->
    <img class="logo-mini" src="./resources/img/taxi_icon.png" height="50" width="50" style="margin: 0px">
    <!-- logo for regular state and mobile devices -->
    <!-- <span class="logo-lg">計程車駕駛人資訊系統</span> -->
    <img class="logo-lg" src="./resources/img/taxi_logo.png" height="50"> 
</div>
<!-- Header Navbar: style can be found in header.less --> 
<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <span class="text-lg">計程車駕駛人資訊系統</span>
    <!-- Navbar Right Menu --> 
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less --> 
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="resources/img/police2.png" class="user-image" alt="User Image">
                <span class="hidden-xs">王〇〇</span>
                </a> 
                <ul class="dropdown-menu">
                    <!-- Menu Body --> 
                    <li class="user-body">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <a href="#">姓名</a>
                            </div>
                            <div class="col-xs-8">
                                <a href="#">王□□</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <a href="#">帳號</a>
                            </div>
                            <div class="col-xs-8">
                                <a href="#">police</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <a href="#">單位</a>
                            </div>
                            <div class="col-xs-8">
                                <a href="#">XX派出所</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <a href="#">角色</a>
                            </div>
                            <div class="col-xs-8">
                                <a href="#">使用者</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <a href="#">主機</a>
                            </div>
                            <div class="col-xs-8">
                                <a href="#">192.168.1.1</a>
                            </div>
                        </div>
                        <!-- /.row --> 
                    </li>
                    <!-- Menu Footer--> 
                    <li class="user-footer">
                        <div class="pull-right">
                            <a href="./login.html" class="btn btn-default btn-flat">登出</a>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button --> 
            <li><a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a></li>
        </ul>
    </div>
</nav>
