﻿<!-- sidebar: style can be found in sidebar.less -->
<section id="iMenuSideBar" class="sidebar">
	<!-- Sidebar user panel -->
	<div class="user-panel">
		<div class="pull-left image">
			<img src="resources/img/police2.png" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>台北市警察交通大隊</p>
			<p>王〇〇</p>
		</div>
	</div>
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul class="sidebar-menu">
		<li class="treeview"><a href="#"><i class="fa fa-circle-o text-red"></i><span>首頁</span><span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
			<ul class="treeview-menu">
				<li><a href="./F000S000.html"><i class="fa fa-circle-o"></i> 最新消息</a></li>
			</ul></li>
		<li class="treeview"><a href="#"><i class="fa fa-circle-o text-red"></i><span>申請受理作業</span><span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
			<ul class="treeview-menu">
				<li><a href="./F001S001O1.html"><i class="fa fa-circle-o"></i> 報名資料登錄</a></li>
				<li><a href="./F001S002O1.html"><i class="fa fa-circle-o"></i> 駕駛人報名資料維護</a></li>
				<li><a href="./F001S004O1.html"><i class="fa fa-circle-o"></i> 列印報考執業登記證名冊</a></li>
			</ul></li>
		<li class="treeview"><a href="#"><i class="fa fa-circle-o text-red"></i> <span>測驗、講習作業</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
			<ul class="treeview-menu">
				<li><a href="F003S001O1#"><i class="fa fa-circle-o"></i> <span>測驗成績維護</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
					<ul class="treeview-menu">
						<li><a href="./F003S001O1P1.html"><i class="fa fa-circle-o"></i> 測驗成績維護</a> <a href="./F003S001O1P2.html"><i class="fa fa-circle-o"></i> 轉入成績維護</a> <a href="./F003S001O1P3.html"><i class="fa fa-circle-o"></i> 講習成績維護</a></li>
					</ul></li>
				<li><a href="./F003S002O1.html"><i class="fa fa-circle-o"></i> 駕駛人講習梯次維護</a></li>
				<li><a href="F003S003O1#"><i class="fa fa-circle-o"></i><span> 列印通知單</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
					<ul class="treeview-menu">
						<li><a href="./F003S003O1P1.html"><i class="fa fa-circle-o"></i> 列印測驗成績暨講習通知單</a> <a href="./F003S003O1P2.html"><i class="fa fa-circle-o"></i> 列印講習成績通知單</a> <a href="./F003S003O1P3.html"><i class="fa fa-circle-o"></i> 列印講習合格證書</a> <a href="./F003S003O1P4.html"><i class="fa fa-circle-o"></i> 列印轉入執業測驗合格證明書</a></li>
					</ul></li>
			</ul></li>
		<li class="treeview"><a href="#"> <i class="fa fa-circle-o text-red"></i> <span> 執業登記證發證作業</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
			<ul class="treeview-menu">
				<li><a href="./F004S001O1.html"><i class="fa fa-circle-o"></i> 初次領證</a></li>
				<li><a href="./F004S002O1.html"><i class="fa fa-circle-o"></i> 效期換證</a></li>
			</ul></li>
		<li class="treeview"><a href="#"> <i class="fa fa-circle-o text-red"></i> <span>查驗稽核作業</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
			<ul class="treeview-menu">
				<li><a href="./F005S001O1.html"><i class="fa fa-circle-o"></i> 年度查驗</a></li>
				<li><a href="./F005S002O1.html"><i class="fa fa-circle-o"></i> 整批逾期查驗作業</a></li>
				<li><a href="./F005S003O1.html"><i class="fa fa-circle-o"></i> 整批匯出裁決書/處分書</a></li>
				<li><a href="./F005S004O1.html"><i class="fa fa-circle-o"></i> 列印查驗通知單</a></li>
			</ul></li>
		<li class="treeview"><a href="#"> <i class="fa fa-circle-o text-red"></i> <span>異動作業</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
			<ul class="treeview-menu">
				<li><a href="./F006S001O1.html"><i class="fa fa-circle-o"></i> 駕駛人資料維護</a></li>
				<li><a href="./F006S003O1.html"><i class="fa fa-circle-o"></i> 吊扣與廢止執業登記證</a></li>
				<li><a href="./F006S004O1.html"><i class="fa fa-circle-o"></i> 換(補)發執業登記證</a></li>
				<li><a href="./F006S005O1.html"><i class="fa fa-circle-o"></i> 暫停執業</a></li>
				<li><a href="./F006S006O1.html"><i class="fa fa-circle-o"></i> 回復暫停執業登記證</a></li>
				<li><a href="./F006S007O1.html"><i class="fa fa-circle-o"></i> 繳回執業登記證</a></li>
				<li><a href="./F006S008O1.html"><i class="fa fa-circle-o"></i> 回復暫停執業登記證(主管權限) </a></li>
				<li><a href="#"><i class="fa fa-circle-o"></i> <span>外縣市轉入</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
					<ul class="treeview-menu">
						<li><a href="./F006S009O1.html"><i class="fa fa-circle-o"></i> 轉入申請</a></li>
						<li><a href="./F006S009O1.html?mode=issue"><i class="fa fa-circle-o"></i> 轉入發證</a></li>
					</ul></li>
				<li><a href="#"><i class="fa fa-circle-o"></i> <span>列印通知書</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
					<ul class="treeview-menu">
						<li><a href="./F006S010O1.html"><i class="fa fa-circle-o"></i> 列印繳交執業登記證通知書</a></li>
						<li><a href="#"><i class="fa fa-circle-o"></i> 列印證照換發通知單</a></li>
					</ul></li>
			</ul></li>
		<li class="treeview"><a href="#"> <i class="fa fa-circle-o text-red"></i> <span>資料查詢作業</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
			<ul class="treeview-menu">
				<li><a href="./F007S001O1.html"><i class="fa fa-circle-o"></i> 駕駛人資料查詢</a></li>
				<li><a href="./F007S002O1.html"><i class="fa fa-circle-o"></i> 報名資料查詢</a></li>
				<li><a href="./F007S003O1.html"><i class="fa fa-circle-o"></i> 未領證資料查詢</a></li>
				<li><a href="./F007S004O1.html"><i class="fa fa-circle-o"></i> 逾期未查驗資料查詢</a></li>
				<li><a href="./F007S005O1.html"><i class="fa fa-circle-o"></i> 歷史證照資料查詢</a></li>
				<li><a href="./F007S006O1.html"><i class="fa fa-circle-o"></i> 一次告知單查詢</a></li>
			</ul></li>
		<li class="treeview"><a href="#"> <i class="fa fa-circle-o text-red"></i> <span>報表列印作業</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
			<ul class="treeview-menu">
				<li><a href="./F008S001O1.html"><i class="fa fa-circle-o"></i> 前科列管人數統計月報表</a></li>
				<li><a href="./F008S002O1.html"><i class="fa fa-circle-o"></i> 不得辦理執業登記人數統計表</a></li>
				<li><a href="./F008S003O1.html"><i class="fa fa-circle-o"></i> 逾期未查驗的駕駛人統計表</a></li>
				<li><a href="./F008S004O1.html"><i class="fa fa-circle-o"></i> 轉出與廢止異動原因統計表</a></li>
				<li><a href="./F008S005O1.html"><i class="fa fa-circle-o"></i> 異動名冊</a></li>
				<li><a href="./F008S006O1.html"><i class="fa fa-circle-o"></i> 有效執證統計表</a></li>
				<li><a href="./F008S007O1.html"><i class="fa fa-circle-o"></i> 初領證統計表</a></li>
				<li><a href="./F008S008O1.html"><i class="fa fa-circle-o"></i> 駕駛人連續持有執業登記證年資統計</a></li>
				<li><a href="./F008S009O1.html"><i class="fa fa-circle-o"></i> 交通法規地理環境講習及格率統計表</a></li>
				<li><a href="./F008S010O1.html"><i class="fa fa-circle-o"></i> 廢止與吊扣執業登記證統計表</a></li>
				<li><a href="./F008S011O1.html"><i class="fa fa-circle-o"></i> 工作日統計報表</a></li>
			</ul></li>
		<li class="treeview"><a href="#"> <i class="fa fa-circle-o text-red"></i> <span>題庫維護作業</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
			<ul class="treeview-menu">
				<li><a href="F009S001O1#"><i class="fa fa-circle-o"></i> <span>題庫維護</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
					<ul class="treeview-menu">
						<li><a href="./F009S001O1P1.html"><i class="fa fa-circle-o"></i> 交通法令題庫維護</a></li>
						<li><a href="./F009S001O1P2.html"><i class="fa fa-circle-o"></i> 各縣市道路環境題庫維護</a></li>
						<li><a href="./F009S001O1P3.html"><i class="fa fa-circle-o"></i> 外網題庫更新</a></li>
					</ul></li>
			</ul>
			<ul class="treeview-menu">
				<li><a href="F009S002O1#"><i class="fa fa-circle-o"></i> <span>試卷列印</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
					<ul class="treeview-menu">
						<li><a href="./F009S002O1P1.html"><i class="fa fa-circle-o"></i> 列印交通法令試卷</a></li>
						<li><a href="./F009S002O1P2.html"><i class="fa fa-circle-o"></i> 重印交通法令試卷</a></li>
						<li><a href="./F009S002O1P3.html"><i class="fa fa-circle-o"></i> 列印各縣市道路環境試卷</a></li>
						<li><a href="./F009S002O1P4.html"><i class="fa fa-circle-o"></i> 重印各縣市道路環境試卷</a></li>
					</ul></li>
			</ul></li>
		<li class="treeview"><a href="#"> <i class="fa fa-circle-o text-red"></i> <span>系統資料設定</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
			<ul class="treeview-menu">
				<li><a href="./F010S001O1.html"><i class="fa fa-circle-o"></i> 車行合作社資料維護</a></li>
				<li><a href="./F010S002O1.html"><i class="fa fa-circle-o"></i> 地理環境考題比例設定</a></li>
				<li><a href="./F010S003O1.html"><i class="fa fa-circle-o"></i> 測驗梯次設定</a></li>
				<li><a href="./F010S004O1.html"><i class="fa fa-circle-o"></i> 講習梯次設定</a></li>
				<li><a href="./F010S005O1.html"><i class="fa fa-circle-o"></i> 測驗與講習場地設定</a></li>
				<li><a href="./F010S006O1.html"><i class="fa fa-circle-o"></i> 考場教室設定</a></li>
				<li><a href="./F010S007O1.html"><i class="fa fa-circle-o"></i> 營業區域設定</a></li>
				<li><a href="./F010S008O1.html"><i class="fa fa-circle-o"></i> 考試區域設定</a></li>
				<li><a href="./F010S009O1.html"><i class="fa fa-circle-o"></i> 最新消息設定</a></li>
				<li><a href="./F010S010O1.html"><i class="fa fa-circle-o"></i> 申辦作業資訊設定</a></li>
				<li><a href="./F010S011O1.html"><i class="fa fa-circle-o"></i> 縣市別設定</a></li>
				<li><a href="./F010S012O1.html"><i class="fa fa-circle-o"></i> 代碼設定</a></li>
				<li><a href="./F010S013O1.html"><i class="fa fa-circle-o"></i> 內網首頁表單下載設定</a></li>
			</ul></li>
		<li class="treeview"><a href="#"> <i class="fa fa-circle-o text-red"></i> <span>計程車駕駛人服務網</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
			<ul class="treeview-menu">
				<li><a href="#"><i class="fa fa-circle-o"></i> 最新消息公布</a></li>
				<li><a href="./F012S002O1.html"><i class="fa fa-circle-o"></i> 查詢執業登記證資料</a></li>
				<li><a href="./F012S003O1.html"><i class="fa fa-circle-o"></i> 查詢考試結果</a></li>
				<li><a href="./F012S004O1.html"><i class="fa fa-circle-o"></i> 下載題庫</a></li>
				<li><a href="#"><i class="fa fa-circle-o"></i> 申辦作業資訊</a></li>
			</ul></li>
		<li class="treeview"><a href="#"> <i class="fa fa-circle-o text-red"></i> <span>收費單據作業</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
			<ul class="treeview-menu">
				<li><a href="./F011S001O1.html"><i class="fa fa-circle-o"></i> 收費單據</a></li>
				<li><a href="./F011S002O1.html"><i class="fa fa-circle-o"></i> 列印收據</a></li>
				<li><a href="./F011S003O1_1.html"><i class="fa fa-circle-o"></i> 列印日報表</a></li>
				<li><a href="./F011S003O1.html"><i class="fa fa-circle-o"></i> 列印收入憑證日報表</a></li>
				<li><a href="./F011S004O1.html"><i class="fa fa-circle-o"></i> 列印收入憑證月報表</a></li>
				<li><a href="./F011S005O1.html"><i class="fa fa-circle-o"></i>列印繳庫明細</a></li>
			</ul></li>
	</ul>
</section>
<!-- /.sidebar -->
