<!-- <div class="modal modal-default fade"  tabindex="-1" role="dialog" style="display: none;"> -->
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">

			<!-- 
			<button type="button" class="close" title="close" data-dismiss="modal" aria-label="Close">
				<i class="fa fa-times"></i>
			</button>
 			-->
			<h4 class="modal-title"></h4>
		</div>
		<div class="modal-body">

			<div class="container width95">
				<!-- <div class="alert alert-success" role="alert">	</div> -->
				<div class="row">
					<div class="col-md-5">
						<select multiple="multiple" class="form-control oFrom" style="min-height: 200px;">
						</select>
					</div>
					<div class="col-md-2 text-center">
						<button type="button" class="btn btn-primary btn-md cFrom">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</button>
						<br /> <br />
						<button type="button" class="btn btn-primary btn-md cFromAll">
							<span class="glyphicon glyphicon-forward"></span>
						</button>
						<br /> <br />
						<button type="button" class="btn btn-warning btn-md cTo">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</button>
						<br /> <br />
						<button type="button" class="btn btn-warning btn-md cToAll">
							<span class="glyphicon glyphicon-backward"></span>
						</button>
					</div>
					<div class="col-md-5">
						<select multiple="multiple" class="form-control oTo" style="min-height: 200px;"></select>
					</div>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-md-5"></div>
				<div class="col-md-3">
					<button type="button" class="btn  btn-info cSave" data-dismiss="modal">儲存</button>
				</div>
				<div class="col-md-3">
					<button type="button" class="btn  btn-info cCancel" data-dismiss="modal">取消</button>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>

	</div>
	<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<!-- </div> -->
<!-- /.modal -->