a:hover, a:focus {
	outline: none;
	text-decoration: none;
}

.tab .nav-tabs {
	position: relative;
	border-bottom: none;
}

.tab .nav-tabs li {
	margin-right: 3px;
}

.tab .nav-tabs li a {
	padding: 15px 25px;
	font-size: 15px;
	font-weight: 600;
	color: #22272c;
	text-transform: uppercase;
	margin-right: 0;
	border-radius: 0;
	border: 1px solid #c9cba3;
	position: relative;
	transition: all 0.5s ease 0s;
	background: #FF9900;
}

.tab .nav-tabs li a:before {
	content: "";
	width: 100%;
	height: 5px;
	background: #FF9900;
	position: absolute;
	top: 0;
	left: 0;
}

.tab .nav-tabs li a:hover {
	border: 1px solid #63d7d9;
}

.tab .nav-tabs li.active a {
	border-color: #14c6c9;
	background: #FFF;
}

.tab .nav-tabs li.active a:before {
	background: #14c6c9;
}

.tab .tab-content {
	font-size: 14px;
	color: #808080;
	line-height: 26px;
	padding: 10px 0;
	margin-top: 10px;
}

.tab .tab-content h3 {
	font-size: 22px;
	color: #5b5a5a;
}

.movetab {
  position: relative;
  top: -60px;
}

@media only screen and (max-width: 480px) {
	.tab .nav-tabs li {
		width: 100%;
		text-align: center;
		margin-bottom: 8px;
	}
}