.main-header .logo {
	padding: 0 0px;
}

 .text-lg {
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    font-weight: bold;
    overflow: hidden;
    color: #fff;
 }
 
 .text-label{
 	padding-top: 7px;
 	margin-bottom: 0px;
 }
 
 .cBold{ font-weight: bold;  }
 
 .notDisplay{ visibility: hidden; display:none; }
 .cDisabled {disabled: disabled;}
 
 .floatLeft{ float: left;}
 .floatRight{ float: right;}
 .floatCenter{  text-align: center; align: center;}

 .padding0{ padding: 0px; }
 .paddingW0px{ padding-left: 0px; padding-right: 0px; }
 .paddingW2px{ padding-left: 2px; padding-right: 2px; }
 .paddingW5px{ padding-left: 5px; padding-right: 5px; }
 .paddingL15R5px{ padding-left: 15px; padding-right: 5px; }
 .paddingL5px{ padding-left: 5px; padding-right: 0px; }
 .paddingL10px{ padding-left: 10px; padding-right: 0px; }
 .paddingR20px{ padding-left: 0px; padding-right: 20px; }
 .paddingR5px{ padding-left: 0px; padding-right: 5px; }
 
 .marginB0px{ margin-bottom: 0px;}

.picBorderSize{ width:160px;  height:160px; border:solid}
.picMaxSize {max-width: 150px; max-height: 150px;}
.width2px{ width:2px; }
.width20px{ width:20px; }
.width35px{ width:35px; }
.width40px{ width:40px; }
.width90px{ width:90px; }
.width100px{ width:100px; }
.width110px{ width:110px; }
.width120px{ width:120px; }

.width10{ width:10%; }
.width20{ width:20%; }
.width70{ width:70%; }
.width95{ width:95%; }
 
.height20px{ height:20px; }
.height200px{ height:200px; }
 
.form-group {
    margin-bottom: 5px;
} 

.required label {
    font-weight: bold;
}

.required label:before { 
    content: "*";
    margin-left: 2px;
    color:red;
}
.hot_tag {
	color: #fff;
	background-color: #30b046;
	font-size: 80%;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 1.6em;
	display: inline-block;
	margin: 0 .3em;
	padding: 0 .4em;
	-webkit-border-radius: .6em;
	-moz-border-radius: .6em;
	border-radius: .6em
}

.cont90 {
	width: 90%;
	margin: 0 auto;
	padding: 0;
	line-height: 1.5em
}

.cont_title {
	font-size: 140%;
	line-height: 1.6em;
	text-align: left;
	margin: .5em 0 .2em;
	border-bottom: #dcdcdc dotted 1px;
	position: relative
}

.cont_title_noborder {
	font-size: 140%;
	line-height: 1.6em;
	text-align: left;
	margin: .5em 0 .2em;
	position: relative;
	color: #1E90FF
}

.note {
	color: #777;
	font-size: 80%;
	line-height: 1.5em
}

span.number {
	color: #AAAAAA;
	line-height: 1.6em;
	margin: .5em 0 .2em;
	margin-right: 2px;
	border-bottom: #dcdcdc dotted 1px;
}

span.date {
	color: #AAAAAA;
	line-height: 1.6em;
	margin: .5em 0 .2em;
	margin-left: 3px;
}

.relative2 {
  position: relative;
  top: 20px;
}
